
@{
    ViewData["Title"] = "PaymentSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6 text-uppercase">Checkout</h1>
    <p class="text-center mb-0 fw-bold">Check cart and information</p>
</div>
<!-- Single Page Header End -->

<h1>PaymentSuccess</h1>

