
@{
    ViewData["Title"] = "PaymentSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6 text-uppercase">Đặt hàng thành công</h1>
    <p class="text-center mb-0 fw-bold text-white">Đơn hàng đang được xử lý, xin theo dõi đơn hàng</p>
</div>
<!-- Single Page Header End -->

<div class="demo1 text-center">
	<div class="ui-success">
		<svg viewBox="0 0 87 87" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
			<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
				<g id="Group-3" transform="translate(2.000000, 2.000000)">
					<circle id="Oval-2" stroke="rgba(165, 220, 134, 0.2)" stroke-width="4" cx="41.5" cy="41.5" r="41.5"></circle>
					<circle class="ui-success-circle" id="Oval-2" stroke="#A5DC86" stroke-width="4" cx="41.5" cy="41.5" r="41.5"></circle>
					<polyline class="ui-success-path" id="Path-2" stroke="#A5DC86" stroke-width="4" points="19 38.8036813 31.1020744 54.8046875 63.299221 28"></polyline>
				</g>
			</g>
		</svg>
	</div>
</div>
<h1 class="text-center">Thông báo đơn hàng đặt thành công với mã đơn : @TempData["OrderId"]</h1>




