@using System.Security.Claims

<div id="kt_header" class="header header-fixed">
	<!--begin::Container-->
	<div class="container-fluid d-flex justify-content-end">
		<!--begin::Topbar-->
		<div class="topbar">
			<!--begin::Languages-->
			<div class="dropdown">
				<!--begin::Toggle-->
				<div class="topbar-item" data-toggle="dropdown" data-offset="10px,0px">
					<div class="btn btn-icon btn-clean btn-dropdown btn-lg mr-1">
						<img class="h-20px w-20px rounded-sm" src="~/Admin/assets//media/svg/flags/226-united-states.svg" alt="" />
					</div>
				</div>
				<!--end::Toggle-->
				<!--begin::Dropdown-->
				<div class="dropdown-menu p-0 m-0 dropdown-menu-anim-up dropdown-menu-sm dropdown-menu-right">
					<!--begin::Nav-->
					<ul class="navi navi-hover py-4">
						<!--begin::Item-->
						<li class="navi-item">
							<a href="#" class="navi-link">
								<span class="symbol symbol-20 mr-3">
									<img src="~/Admin/assets//media/svg/flags/226-united-states.svg" alt="" />
								</span>
								<span class="navi-text">English</span>
							</a>
						</li>
						<!--end::Item-->
						<!--begin::Item-->
						<li class="navi-item active">
							<a href="#" class="navi-link">
								<span class="symbol symbol-20 mr-3">
									<img src="~/Admin/assets//media/svg/flags/128-spain.svg" alt="" />
								</span>
								<span class="navi-text">Spanish</span>
							</a>
						</li>
						<!--end::Item-->
						<!--begin::Item-->
						<li class="navi-item">
							<a href="#" class="navi-link">
								<span class="symbol symbol-20 mr-3">
									<img src="~/Admin/assets//media/svg/flags/162-germany.svg" alt="" />
								</span>
								<span class="navi-text">German</span>
							</a>
						</li>
						<!--end::Item-->
						<!--begin::Item-->
						<li class="navi-item">
							<a href="#" class="navi-link">
								<span class="symbol symbol-20 mr-3">
									<img src="~/Admin/assets//media/svg/flags/063-japan.svg" alt="" />
								</span>
								<span class="navi-text">Japanese</span>
							</a>
						</li>
						<!--end::Item-->
						<!--begin::Item-->
						<li class="navi-item">
							<a href="#" class="navi-link">
								<span class="symbol symbol-20 mr-3">
									<img src="~/Admin/assets//media/svg/flags/195-france.svg" alt="" />
								</span>
								<span class="navi-text">French</span>
							</a>
						</li>
						<!--end::Item-->
					</ul>
					<!--end::Nav-->
				</div>
				<!--end::Dropdown-->
			</div>
			<!--end::Languages-->
			<!--begin::User-->
			<div class="topbar-item">
				<div class="btn btn-icon btn-icon-mobile w-auto btn-clean d-flex align-items-center btn-lg px-2" id="kt_quick_user_toggle">
					<span class="text-muted font-weight-bold font-size-base d-none d-md-inline mr-1">Hi,</span>
					<span class="text-dark-50 font-weight-bolder font-size-base d-none d-md-inline mr-3">@User.Identity?.Name</span>

					<ul class="navbar-nav navbar-nav-right">
						@* Dropdown để logout *@
						<li class="nav-item dropdown">
							<a class="nav-link" id="profileDropdown" href="#" data-toggle="dropdown">
								<div class="symbol symbol-circle symbol-35 mr-3">
									<img src="~/images/users/@(User.FindFirst(ClaimTypes.NameIdentifier)?.Value).png" alt="">
									<i class="mdi mdi-menu-down d-none d-sm-block"></i>
								</div>
							</a>
							<div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="profileDropdown">
								<h6 class="p-3 mb-0">@User.FindFirst(ClaimTypes.Email)?.Value</h6>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item preview-item" asp-area="Admin" asp-controller="Authentication" asp-action="Logout">
									<div class="preview-thumbnail">
										<div class="preview-icon bg-dark rounded-circle">
											<i class="mdi mdi-logout text-danger"></i>
										</div>
									</div>
									<div class="preview-item-content">
										<p class="preview-subject mb-1">Log out</p>
									</div>
								</a>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<!--end::User-->
		</div>
		<!--end::Topbar-->
	</div>
	<!--end::Container-->
</div>