
@{
    ViewData["Title"] = "Account List";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <div class="row d-flex align-items-center">
                <h4 class="text-center">Account List</h4>
                @Html.ActionLink("Add", "savedata", "Account", null, new { @class = "btn btn-primary ml-1" })
            </div>

            <div class="table-responsive">
                <table id="tbl-account" class="display table table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th>Action</th>
                            <th>UserName</th>
                            <th>FullName</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>IsActive</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script src="~/admin/settingsjs/registerdatatable.js"></script>
    <script>
        const elementName = "#tbl-account";
        const columns = [
            { data: 'id', name: 'id', width: '100', render: function (key) {
                    return `<a href="/admin/account/savedata?id=${key}"><i class="mdi mdi-grease-pencil"></i></a>
                            &nbsp
                            <a href="#"><i class="mdi mdi-delete"></i></a>`
                }
            },
            { data: 'username', name: 'username', autoWidth: true },
            { data: 'fullname', name: 'fullname', autoWidth: true },
            { data: 'email', name: 'email', autoWidth: true },
            { data: 'phone', name: 'phone', autoWidth: true },
            { data: 'isActive', name: 'isActive', autoWidth: true }
        ];
        const urlApi = "/admin/account/getaccountpagination";

        registerDatatable(elementName, columns, urlApi)

    </script>
}
