@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!--begin::Subheader-->
@await Html.PartialAsync("~/Areas/Admin/Views/Shared/_Subheader.cshtml")
<!--end::Subheader-->

<h1>ADMIN DASHBOARD</h1>
