@model BookSale.Management.Application.DTOs.AuthenticationUser.UserRegisterDTO

@{
    ViewData["Title"] = "Sign Up";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
    <h1 class="text-center display-6 text-uppercase">Sign Up</h1>
    <p class="text-center mb-0 fw-bold text-white">Enter your details to sign up account</p>
</div>
<!-- Single Page Header End -->


<!--begin::Login Sign in form-->
<div class="container-fluid py-5">
    <p class="text-danger text-center">@Html.Raw(TempData["Errors"])</p>

    <div class="container py-5 d-flex justify-content-center">

        <form class="form" method="post" asp-controller="Authentication" asp-action="Register" asp-antiforgery="true">
            <div class="form-item w-100 my-3">
                <input type="text" class="form-control text-dark bg-white-o-5 fw-bold" placeholder="Username" asp-for="Username">
            </div>
            @* <span class="text-danger" asp-validation-for="Username"></span> *@

            <div class="form-item w-100 my-3">
                <input type="password" class="form-control text-dark bg-white-o-5 fw-bold" placeholder="Password" asp-for="Password">
            </div>
            @* <span class="text-danger" asp-validation-for="Password"></span> *@

            <div class="form-item w-100 my-3">
                <input type="text" class="form-control text-dark bg-white-o-5 fw-bold" placeholder="Email" asp-for="Email">
            </div>
            @* <span class="text-danger" asp-validation-for="Email"></span> *@

            <div class="form-item w-100 my-3">
                <input type="text" class="form-control text-dark bg-white-o-5 fw-bold" placeholder="Phone" asp-for="Phone">
            </div>
            @* <span class="text-danger" asp-validation-for="Phone"></span> *@

            <div class="text-center align-items-center justify-content-center pt-4">
                <button type="submit" class="btn set-btn-format px-4 text-uppercase text-white">SignUp</button>
            </div>
        </form>
    </div>
</div>
<!--end::Login Sign in form-->


@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}

