@model BookSale.Management.Application.DTOs.UserProfileDTO

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">Profile</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Pages</a></li>
        <li class="breadcrumb-item active text-white">Profile</li>
    </ol>
</div>
<!-- Single Page Header End -->


<!-- Checkout Page Start -->
<div class="container-fluid py-5">
    <h1 class="text-center text-uppercase">Information Profile</h1>
    <div class="container py-5 d-flex justify-content-center">
        <form asp-controller="profile" asp-action="index" method="post" asp-antiforgery="true">
            <input asp-for="Id" hidden />

            <div class="form-item w-100 mb-1">
                <input type="text" class="form-control" placeholder="Email" asp-for="Fullname">
            </div>

            <div class="row">
                <div class="col-md-12 col-lg-6">
                    <div class="form-item w-100 mb-1">
                        <input type="text" readonly class="form-control" placeholder="Username" asp-for="Username">
                    </div>
                </div>
                <div class="col-md-12 col-lg-6">
                    <div class="form-item w-100 mb-1">
                        <input type="text" class="form-control" placeholder="Phone" asp-for="PhoneNumber">
                    </div>
                </div>
            </div>

            <div class="form-item w-100 mb-1">
                <input type="text" class="form-control" placeholder="Email" asp-for="Email">
            </div>

            <div class="form-item w-100 mb-1">
                <input type="text" class="form-control" placeholder="Address" asp-for="Address">
            </div>

            <div class="text-center align-items-center justify-content-center row">
                <div class="col-md-12 col-lg-6 m-2 d-flex">
                    <button type="submit" style="margin-right: 10px; width: 150px;" class="btn border-secondary text-uppercase text-primary flex-grow-1 mr-5">Update</button>
                    <a asp-controller="Home" asp-action="Index" style="margin-left: 10px; width: 150px;" class="btn border-secondary text-uppercase text-primary flex-grow-1">Home</a>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Checkout Page End -->

